﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.card-img-top {
    padding-top: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.card {
    display: flex;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    flex-basis: 200px;
    justify-content: center;
    margin: 5px;
    text-align: center;
}