﻿@model FoodtruckData.Adresse

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero_de_rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_de_rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_utilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_utilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_adresse_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_adresse_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse_type.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse_type.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
