﻿@model IEnumerable<FoodtruckData.Adresse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero_de_rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_utilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_adresse_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code_postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse_type.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateur.nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero_de_rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_utilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_adresse_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code_postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse_type.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateur.nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_adresse }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_adresse }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_adresse })
        </td>
    </tr>
}

</table>
