﻿@model FoodtruckData.Produits

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle_commercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle_commercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.libelle_technique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle_technique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix_unitaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix_unitaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_famille_repas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_famille_repas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Famille_repas.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Famille_repas.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ligne_commande.id_ligne_commande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ligne_commande.id_ligne_commande)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_produit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
