﻿@model IEnumerable<FoodtruckData.Produits>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelle_commercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libelle_technique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix_unitaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_famille_repas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Famille_repas.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ligne_commande.id_ligne_commande)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.libelle_commercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.libelle_technique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix_unitaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_famille_repas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Famille_repas.libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ligne_commande.id_ligne_commande)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_produit }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_produit }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_produit })
            </td>
        </tr>
    }

</table>

<h2>Notre Carte</h2>


<div class="centered">

    <section class="cards">
        @foreach (FoodtruckData.Produits Produit in Model)
        {
            <div class="card" style="width:450px">
                <img class="card-img-top" src="@Url.Content("~/Ressources/Picture" + Produit.id_produit +".jpg")" alt="Card image" style="padding-top:10px ;padding-left:5px;padding-right:5px; border-radius:10%" ; width="200">
                <div class="card-img-overlay">
                    <h4 class="card-title">@Produit.libelle_commercial</h4>
                    <p class="card-text">@Produit.prix_unitaire €</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" action="/Commandes/Create">
                            <input id="IdCommande" name="IdCommande" type="hidden" value=@Produit.id_produit />
                            <button type="submit" class="btn btn-primary">Commander</button>
                        </form>
                        if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = Produit.id_produit }, new { @class = "btn btn-default" })
                        }
                    }

                </div>
            </div>

        }
    </section>
</div>
