﻿@model Foodtruck.Models.ActualitesTopProd
@{
    ViewBag.Title = "Home Page";
}




    <div class=" container-fluid containerHome">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href=" @Url.Action("Details","Actualités",new {id =Model.Actus[0].id_actualite })">
                        <img src="~/Ressources/@Model.Actus[0].image" class="d-block w-100" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.Actus[0].titre</h5>

                    </div>

                </div>
                @for (int i = 1; i < Model.Actus.Count; i++)
                {
                    <div class="carousel-item">
                        <a href=" @Url.Action("Details","Actualités",new {id =Model.Actus[i].id_actualite })" >
                            <img src="~/Ressources/@Model.Actus[i].image" class="d-block w-100" alt="...">
                        </a>
                       
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@Model.Actus[i].titre</h5>

                        </div>

                    </div>

                }
            </div>

        </div>
        <h1>Nos produits phares !</h1>
        @foreach (FoodtruckData.Produits prod in Model.Prod)
        {
            <article class="info-block col-md-3 col-sm-6">
                <h4>
                    @Html.ActionLink(prod.libelle_commercial, "Details", "Produits", new { id = prod.id_produit }, new { @class = "lien-formation" })
                </h4>

                <p>@prod.description</p>
            </article>
        }

    </div>



